Your pipeline #{{.Pipeline.ID}} {{if eq .Pipeline.Status "ok"}}passed!{{else}}has failed!{{end}}
    Project:      {{.Project.GroupID}}/{{.Project.ID}}
    Branch:       🌿 {{.Branch}}
    Commit:       {{slice .Commit.Hash 0 8}} {{.Commit.Message}}
    CommitAuthor: {{.Commit.Author}}{{ range .Pipeline.FailedJobs }}
        Stage: {{.Stage}}, Job {{.Name}}
            {{join (reverse (sliceSafe (reverse (split .RunnerLog "\n")) 0 10)) "\n            "}}
{{end}}